* {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #131314;
    margin: 0px;
    padding: 0px;
    max-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #19191b00;
    margin-bottom: 100px;
}

#title {
    font-size: 33px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

#boardcontainer {
    background-color: #17171800;
    outline: 2px solid #131314;
    width: 372px;
    height: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

#row1 {
    height: 124px;
    width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#row2 {
    height: 124px;
    width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#row3 {
    height: 124px;
    width: 372px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spot {
    width: 124px;
    height: 124px;
    outline:2px solid #464549;
    background-color: #00000000;
    border: 0px;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151516;
    border: 1px solid #363638;
    width: 250px;
    height: 200px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
}

#playbutton {
    transition: 0.5s;
    width: 100px;
    height: 50px;
    background-color: rgba(59, 162, 66, 0.598);
    border: 1px solid rgba(92, 195, 99, 0.473);
    border-radius: 15px;
    font-size: 23px;
    cursor: pointer;
}
#playbutton:hover {
    background-color: rgba(51, 139, 55, 0.472);
    border: 1px solid rgba(79, 167, 85, 0.327);
}

.welcome {
    transition: 0.5s;
    font-size: 30px;
}

.selectmark {
    width: 170px;
    height: 80px;
    background-color: #151516;
    border: 1px solid #363638;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#xlabel {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
#xlabel:hover {
    background-color: #1c1c1e;
}

#olabel {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#olabel:hover {
    background-color: #1c1c1e;
}

input[type="radio"] {
    display: none;
}

#currentplayer {
    transition: 0.5s;
    opacity: 0;
    font-size: 25px;
}

.endarea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    background-color: #13131497;
    transition: 0.5s;
}

#endofgame {
    margin-top: 80px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151516;
    border: 1px solid #363638;
    width: 250px;
    height: 200px;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
}

.winlabel {
    transition: 0.5s;
    font-size: 27px;
}

#playagain {
    transition: 0.5s;
    width: 150px;
    height: 50px;
    background-color: rgba(162, 104, 59, 0.598);
    border: 1px solid rgba(195, 142, 92, 0.473);
    border-radius: 15px;
    font-size: 23px;
    cursor: pointer;
}
#playagain:hover {
    background-color: rgba(139, 96, 51, 0.472);
    border: 1px solid rgba(167, 119, 79, 0.327);
}

@media (max-width: 600px) {
    #boardcontainer {
        background-color: #17171800;
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
    }
    .spot {
        width: 83.3px;
        height: 83.3px;
        outline: 2px solid #464549;
        background-color: #00000000;
        border: 0px;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #playagain {
        transition: 0.5s;
        width: 160px;
        height: 50px;
        background-color: rgba(162, 104, 59, 0.598);
        border: 1px solid rgba(195, 142, 92, 0.473);
        border-radius: 15px;
        font-size: 20px;
        cursor: pointer;
    }







}